 <!-- Navigation Bar -->
        <nav class="quintapata-nav">
            <div class="nav-wrapper ">
              <a href="#" class="brand-logo center">
                <%= image_tag "logo2.png", class: 'quintapata-logo' %>
              </a>
            </div>
        </nav>


        <!-- Home Banner -->
        <div class="qp-home-wrapper">
            
            <div class="container">

                <div class="qp-home-container">
                    <div class="qp-home-info">
                        <h1>Cuanto amas a tu mascota?</h1>

                        <h2>Encuentra las mejores veterinarias <br> en tu ciudad</h2>

                        <div>
                            <!-- Dropdown Trigger -->
                            <a class='dropdown-button btn city-dropdown' href='#' data-activates='dropdown1'>Quito</a>
                            <!-- Dropdown Structure -->
                            <ul  id='dropdown1' class='dropdown-content'>
                                <li><a href="#!">Quito</a></li>
                            </ul>
                        </div>
            
                        <a class="waves-effect waves-light btn search-btn"><i class="material-icons left">search</i> Buscar </a>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- How it works -->
        <div class="qp-hworks">
            
            <h1 class="qp-grey home-mtitle">Como Funciona</h1>
            <div class="row">

                <div class="col m4 s12">
                    <h2 class="qp-blue">Busca</h2>
                    <%= image_tag "look.png" %>
                    <p>Busca las mejores veterinarias en tu ciudad.</p>
                </div>

                <div class="col m4 s12">
                    <h2 class="qp-blue">Encuentra</h2>
                    <%= image_tag "find.png" %>
                    <p>Conoce lo que otros usuarios opinan de tu veterinaria.</p>
                </div>

                <div class="col m4 s12">
                    <h2 class="qp-blue" >Visita</h2>
                    <%= image_tag "visit.png" %>
                    <p>Decídete por la mejor veterinaria y visítala.</p>
                </div>

            </div>    
        </div>

        <!-- Benefits -->
        <div class="qp-benefits">

            <h1 class="home-mtitle">Beneficios</h1>

            <div class="row">
                
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image card-holder-fix">
                      <%= image_tag "cardiogram.png", class: 'card-img-fix' %>
                    </div>
                    <div class="card-content">
                      <p class="center">Visita a tu Veterinario con más tranquilidad</p>
                    </div>
                  </div>
                </div>

                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image card-holder-fix">
                      <%= image_tag "question.png", class: 'card-img-fix' %>
                    </div>
                    <div class="card-content">
                      <p class="center">Encuentra más informacion del veterinario.</p>
                    </div>
                  </div>
                </div>

                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image card-holder-fix">
                      <%= image_tag "pawprint.png", class: 'card-img-fix' %>
                    </div>
                    <div class="card-content">
                      <p class="center">Revisa los comentarios de la Comunidad.</p>
                    </div>
                  </div>
                </div>

                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image card-holder-fix">
                      <%= image_tag "home.png", class: 'card-img-fix' %>
                    </div>
                    <div class="card-content">
                      <p class="center">Estarás más contento cuando regreses a casa.</p>
                    </div>
                  </div>
                </div>

            </div>
            
        </div>

        <!-- Clients -->
        <div class="qp-clients">

            <h1 class="home-mtitle">Nuestros Clientes</h1>

            <!-- Dividido en 2 secciones -->
            
            <div class="container">
                
            
                <div class="row">

                    <!-- Seccion Izquierda -->
                    <div class="col m6 s12 col-fix">

                      
                        <!-- Primer Imagen -->
                        <div class="img1 ">
                          <div class="bg">
                            <%= image_tag "1.jpg", class: 'client-bg-img' %>
                             <div class="overlay">
                              <p>Llevar a Lola al veterinario era todo una odisea, lo pasaba fatal y se estresaba en el transportín. Desde que usamos InstaVets no me preocupo, vienen a casa, son encantadoras y Lola no se da cuenta de que es una veterinaria.</p>
                              <p class="text-customer-name">Marcela y Lola</p>
                            </div> 
                          </div> 
                        </div>

                        <div class="img2">
                          <div class="bg">
                            <%= image_tag "2.jpg", class: 'client-bg-img' %>
                            <div class="overlay">
                              <p> Estamos encantados con el servicio de InstaVets. Endor ni se entera de que es una consulta. Lo mejor es que siempre están disponibles para resolver cualquier duda, ya sea por teléfono o por la web, ¡fue todo un descubrimiento! </p>
                              <p class="text-customer-name">Marcela y Lola</p>
                            </div> 
                          </div> 
                        </div>


                    </div>

                      

                    <div class="col m6 s12 col-fix">

                        <!-- Primer Imagen -->
                        <div class="img3">
                          <div class="bg">
                            <%= image_tag "3.jpg", class: 'client-bg-img' %>
                            <div class="overlay">
                              <p>Entre que sabemos exactamente cuánto cuesta el servicio desde el primer momento sin sorpresas después, que vienen en el momento en que necesitamos, y que la consulta incluye todo lo que surja durante el chequeo, ni nos lo pensamos antes de llamarles.</p>
                              <p class="text-customer-name">Marcela y Lola</p>
                            </div> 
                          </div>   
                        </div>

                        <div class="col m12 s12 col-fix">
                            
                            <div class="img4">
                              <div class="bg">
                                <%= image_tag "4.jpg", class: 'client-bg-img' %>
                                <div class="overlay">
                                  <p>Desde que era pequeña me apasionan los animales, siempre quise estar cerca de ellos y ayudarlos. La medicina veterinaria me da las herramientas para ofrecerles mayor y mejor calidad de vida. En InstaVets nos esforzamos por que tu mascota se sienta tranquila y relajada en todo momento. Ser atendidos en su propia casa evita que pase un mal esto innecesario. ¡No te compiques la vida! Llámanos, él te lo agradecerá.</p>
                                  <p class="text-customer-name">Marcela y Lola</p>
                                </div> 
                              </div> 
                            </div>
                        </div> 

                    </div>
                    
                </div>
            </div>
        </div>

        <div class="qp-ready">
            
            <div class="container">
              
              <div class="row">

                <div class="col m6 s12">
                  <%= image_tag "dogimg.png" %>
                </div>

                <div class="col m6 s12">
                    
                  <p>Listo para encontrar tu veterinario</p>

                  <p>Con solo un click puedes encontrar los mejores veterinarios en tu zona</p>

                  <a class="waves-effect waves-light btn search-btn"><i class="material-icons left">search</i>Buscar</a>
                    
                </div> 
              </div>
            </div>

        </div>


        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Quintapata</h5>
                <div class="community-icons-footer">
                    <a href="#" target="_blank"><i id="social-fb-footer" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="#" target="_blank"><i id="social-tw-footer" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="#" target="_blank"><i id="social-yt-footer" class="fa fa-youtube-square fa-3x social"></i></a>
                    <a href="#" target="_blank"><i id="social-in-footer" class="fa fa-instagram fa-3x social"></i></a>
                    <a href="#" target="_blank"><i id="social-em-footer" class="fa fa-envelope-square fa-3x social"></i></a>
                </div>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Quintapata.com
            </div>
          </div>
        </footer>