
<div class="join-landing-bg">
  
  <div class="container">
    <div class="join-home-container">
        <div class="join-home-info">

            <h1>Mantén a tus clientes felices <br> y tu negocio creciendo</h1>

            <p>La manera maravillosamente simple de fortalecer la comunicación con tus clientes,
            <br>agilizar las tareas diarias y aumentar los ingresos de tu negocio</p>

            <a class="waves-effect waves-light btn" href="#modal1" >Mira como funciona</a>
        
        </div>
    </div>
  </div>
</div>

<div class="join-info">

  <div class="container">

    <div class="row">

      <div class="col m4">
        <div class='join-adv-info'>
          <%= image_tag "promotion.png" %>
          <h1> Promociona tu negocio</h1>
        </div>

        <p>Mejora tu posicionamiento en linea. Haz que tus futuros clientes te encuentren mas facil.</p>

      </div>

      <div class="col m4">
        <div , class='join-adv-info'>
          <%= image_tag "email.png", class: 'join-adv-img' %>
          <h1 class="join-adv-title"> Conoce a tu cliente</h1>
        </div>
        <p>Al tener más información de las mascotas y tu cliente, puedes construir una relación más cercana.</p>
      </div>

      <div class="col m4">
        <div class='join-adv-info'>
          <%= image_tag "analytics.png", class: 'join-adv-img' %>
          <h1 class="join-adv-title"> Incrementa tus ventas</h1>
         
        </div>
        <p>Promociona tu negocio e incrementar tus ventas ofreciendo cupones y descuentos a tus clientes.
      </div>

    </div>


    <div class="row">
    
      <div class="col m4">
        <div class='join-adv-info'>
          <%= image_tag "calendar.png", class: 'join-adv-img' %>
          <h1 class="join-adv-title"> Organizate Mejor</h1>
        </div>
        <p>Con nuestras reservas en línea, organiza mejor tu tiempo y a tus clientes.</p>
      </div>

      <div class="col m4">
        <div class='join-adv-info'>
          <%= image_tag "handshake.png", class: 'join-adv-img' %>
          <h1 class="join-adv-title"> Aumenta tus visitas</h1>
        </div>
        <p>Reduce la cantidad de visitas que olvidan tus clientes y mantenlos volviendo más seguido.</p>
      </div>

      <div class="col m4">
        <div class='join-adv-info'>
          <%= image_tag "production.png", class: 'join-adv-img' %>
          <h1 class="join-adv-title"> Simplifica tu negocio</h1>
        </div>
        <p>Quintapata te ayuda en todo el trabajo pesado, para que te enfoques en lo que realmente es importante para tu negocio.</p>
      </div>

    </div>
    


  </div>
  

</div>



<!-- Survey -->
<div class="join-survey-wrapper">

  <div class="container">

    <h1 class="join-form-title ">Listo para empezar?</h1>
    <p>Llena el siguiente formulario y nosotros nos pondremos en contacto.</p>

    <div class="row">

      <%= form_tag surveys_create_path, class: 'col s12'  do %>
      
        <div class="row survey-tag">

          <div class="input-field col s12 input-fix">
            <%= text_field_tag 'name', nil, class: 'validate' %>
            <%= label_tag(:name, "Nombre", data: { error: "Incorrecto", success: "Correcto"  })  %>
          </div>

          <div class="input-field col s12 input-fix">
            <%= email_field_tag'email', nil, class: 'validate' %>
            <%= label_tag(:email, "Email", data: { error: "Incorrecto", success: "Correcto"  }) %>
          </div>

          <div class="input-field col s12 input-fix">
            <%= text_field_tag 'phone', nil, class: 'validate' %>
            <%= label_tag(:phone, "Teléfono", data: { error: "Incorrecto", success: "Correcto"  }) %>
          </div>

          <div class="input-field col s12 input-fix">      
            <%= text_field_tag 'company', nil, class: 'validate' %>
            <%= label_tag(:company, "Companía", data: { error: "Incorrecto", success: "Correcto"  }) %>
          </div>

          <div class="input-field col s12 check_box_fix"> 
            <%= label_tag(:services, "Servicios:") %>
            <% ['Veterinaria' , 'Peluqueria', 'Hospedaje/ Pet Care', 'Funeraria', 'Pet Shop', 'Adiestramiento'].each do |item| %>
              <br>
              <tr>
                <td><%= check_box_tag "items[]", item%></td>
                <td><%= item %></td>
              </tr>
            <% end %>
          </div>
        </div>

        <%= submit_tag("Enviar") %>
      <% end %>
    </div>
  </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <iframe src="https://player.vimeo.com/video/200873698" id="nofocusvideo" width="100%" height="346" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>

<script type="text/javascript">
  

  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });

</script>