<!DOCTYPE html>
<html>
  <head>
    <title>Quintapata</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

     <!-- Navigation Bar -->
    <div class="navigation-bar-quintapata">
      <nav class="quintapata-nav">
          <div class="nav-wrapper ">
            <a href="#" class="brand-logo center">
              <%= image_tag "logo2.png", class: 'quintapata-logo' %>
            </a>
          </div>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
